# Rust
rrss-cli-rs/target/
**/*.rs.bk

# Output Generated
output/
*.pdf
*.png

# Generated Intermediate Files
*.typ
!lib.typ
!lib/**/*.typ

# Logic Legacy / Backups
*.old
*.bak

# System / IDE
.DS_Store
.vscode/
.idea/
